.container {
    background-color: #f1f1f1; 	
    padding: 15px;
    width:890px;
    margin: 10px auto;		
 }

 .head {
    text-align: center;		
 }

 img.foto {
    width:190px;
    border-radius: 5%;
    margin: 20px 15px;
}

img.icon {
    width:25px;
}