.container {
    background-color: #f1f1f1; 
    padding: 15px;
    height:auto;
    width:1000px;
    height:2300px;
    margin: 10px auto;
    margin-top:0;
    margin-left:auto;
    margin-bottom:0;
    margin-right:auto;
 }

h1 {
    padding-bottom:0px;
 }

.head{
    margin-top:auto;
    padding-bottom:0.1px;
    line-height: 19px;
 }

.subhead{
    line-height: 0px;
 }

img.foto {
    width:190px;
    border-radius: 5%;
    margin: 20px 10px;
}

img.icon {
    width: 21px;
    vertical-align: -4px;
}

#left {
	float: left ;
	width:240px;
}

#right{
	float: left ;
    width:760px;
    height:2000px;
}

.linkborder{
    margin: 20px 10px;
}

p1{
    color: #076ab6;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}

a:link {
    text-decoration: none;
    font-size: 17px;
}

a.art:link {
    color:#8e8f8f;
    text-decoration:none;
}

a.art:visited {
    color:#6f6f6f;
    text-decoration:none;
}

ul.point {
    list-style-type: square;
    list-style-position: inside;
    line-height:180%;
}
